[submodule "themes/hugo-theme-relearn"]
	path = themes/hugo-theme-relearn
	url = https://github.com/LaunchCode-Hugo-Submodules/hugo-theme-relearn
[submodule "layouts"]
	path = layouts
	url = https://github.com/LaunchCode-Hugo-Submodules/layouts
[submodule "archetypes"]
	path = archetypes
	url = https://github.com/LaunchCode-Hugo-Submodules/archetypes
[submodule "assets"]
	path = assets
	url = https://github.com/LaunchCode-Hugo-Submodules/assets
