/* my-custom-variant */
:root {
  --CODE-theme: relearn-light;
  --BOX-BLUE-color: #3c79b8; /* background color of blue boxes */
  --BOX-GREEN-color: #419F6A; /* background color of green boxes */
  --BOX-GREY-color: #cacacb; /* background color of grey boxes */
  --BOX-ORANGE-color: #f1a640; /* background color of orange boxes */
  --CODE-BLOCK-BG-color: #354a5f; /* fallback background color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BORDER-color: #d8d8d8; /* border color of block code */
  --CODE-BLOCK-color: white; /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-INLINE-BORDER-color: #f8e8c8; /* border color of inline code */
  --MAIN-LINK-color: #354a5f; /* link color of content */
  --MAIN-LINK-HOVER-color: #3c79b8; /* hoverd link color of content */
  --MAIN-TITLES-TEXT-color: #3c79b8; /* text color of h2-h6 titles and transparent box titles */
  --MENU-HEADER-BG-color: #354a5f; /* background color of menu header */
  --MENU-HOME-LINK-color: #f1a640; /* home button color if configured */
  --MENU-SEARCH-BG-color: #354a5f; /* background color of search box */
  --MENU-SEARCH-BORDER-color: white; /* border color of search box */
  --MENU-SEARCH-color: white; /* text and icon color of search box */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: white; /* background color of the displayed menu topic */
  --MENU-SECTION-ACTIVE-CATEGORY-color: #354a5f; /* text color of the displayed menu topic */
  --MENU-SECTIONS-ACTIVE-BG-color: #354a5f; /* background color of the active menu section */
  --MENU-SECTIONS-BG-color: #354a5f; /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
  --MENU-SECTIONS-LINK-color: #cacacb; /* link color of menu topics */
  --MENU-SECTIONS-LINK-HOVER-color: #f1a640; /* hoverd link color of menu topics */
  --MENU-VISITED-color: #cacacb; /* icon color of visited menu topics if configured */
}
